/* MainPage.module.css */

:global main {
  padding: 96;
  font-family: "-apple-system, Roboto, sans-serif, serif";
}

:global h1 {
  margin-top: 0;
  margin-bottom: 64;
  max-width: 320;
}

:global p {
  margin-bottom: 48;
}

.mainBody {
  padding: 30px;
  min-height: 100vh;
  text-align: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/nina.webp");
  background-position: center;
}
